name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Шаг 1: Клонирует репозиторий
    - uses: actions/checkout@v4

    - name: Run a one-line script
      run: cv.cpp
